body {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;;
}

a {
	text-decoration: none;
}

.pre_header {
	height: 55px;
}

.header {
	padding-top: 7px;
	background-color: white;  
	position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%;
	display: flex;
	align-items: center;
}

.nav {
	position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px;
    background: #fff; 
    width: 100%;
	display: flex;
	z-index: 5;
	justify-content: space-around;
}

.news{
	width: 20px;
}
.search{
	width: 20px;
}
.rooms{
	width: 20px;
}
.offers{
	width: 20px;
}
.account{
	width: 20px;
}

.logo {
	margin-left: 25px;
	font-family: 'Rasa';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

}

.sotial_items {
	padding-top: 7px;
	margin-right: 25px;
	margin-left: auto;
}

.message {
	padding-left: 28px;
	height: 25px;
}

.new_post {
	height: 25px;
}

.post {
	margin-bottom: 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: 100%;
	/*Даня*/
	position: relative;
}

.post_header {
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

.user_logo {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding-right: 15px	;
	width: 30px;
	height: 30px;
}

.post_setting {
	margin-right: 13px;
	margin-left: auto;
	width: 4px;
	height: 20px;
}

.post_content{
	/* padding: 20px 10px; */
	position: relative;
	color: #fff;
	height: 500px;
	/* background: url(../src/content1.png) no-repeat center center; */
	/* background-size: cover; */
}

.sotial_move {
	font-size: 13px;
	padding-top: 70px;
/* тут мой код */
	/* margin-left: auto; */
	position: absolute;
	top: 0;
	right: 20px;
	z-index: 2;
	/* position: relative; */
}

.likes {
	height: 25px;
}

.likes_len {
	margin-top: -8px;
	margin-left: 2px;
	color: #fff;
}

.comments {
	height: 25px;
	margin-top: 7px;
}

.comments_len {
	margin-top: -8px;
	margin-left: 2px;
	color: #fff;
}


.user_name {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 17px;
	line-height: 29px;
	margin-right: 10px;
}

.more {
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
	color: #969696;
}

.comment {
	padding: 0px 20px;
}

.data {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	padding: 10px 10px;
}

#post_content2 {
	padding: 20px 10px;
	color: #fff;
	height: 400px;
	background: url(../src/content2.png) no-repeat center center;
	background-size: cover;
}

.pre_footer {
	height: 60px;
}

.carousel {
	justify-content: center;
	display: flex;
}

.dot_active {
	margin: 15px 5px 5px 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #000000;
	border: 1px solid #000000;
}

.dot {
	margin: 15px 5px 5px 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #000000;
}

/* ROOMS CSS */

.rooms_header {
	display: flex;
	margin-right: 15px;
}

.search_header {
	margin: 10px 10px 10px 5px;
	width: 100%;
	height: 30px;
	background: #C4C4C4;
	border-radius: 5px;
}

.add_rooms {
	margin-left: auto;
}

.search_in_rooms {
	padding: 5px 10px;
	display: block;
	margin-left: auto;
}

.rooms_post_setting {
	margin-right: 25px;
	margin-left: auto;
	width: 4px;
	height: 20px;
}

.rooms_content {
	border-radius: 10px 15px 0px 0px;
	padding: 20px 0px;
	color: #fff;
	height: 300px;
	background: url(../src/dubai.png) no-repeat center center;
	background-size: cover;
}

.rooms_item {
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.rooms_sotial {
	margin-left: 10px;
	display: flex;
}

.rooms_hash_tags {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

.rooms_tag_1 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #FF9473;
	border-radius: 15px;
}

.rooms_tag_2 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #FF8888;
	border-radius: 15px;
}
.rooms_tag_3 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #89D996;
	border-radius: 15px;
}
.rooms_tag_4 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #FBC356;
	border-radius: 15px;
}
.rooms_tag_5 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #A1A5FF;
	border-radius: 15px;
}

.rooms_tag_6 {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #6DCEDB;
	border-radius: 15px;
}

.rooms_etc {
	margin: 10px 0px 0px 10px;
	padding: 3px 6px;
	background: #969696;;
	border-radius: 15px;
}

.rooms_people{
	margin: 10px 0px 5px 10px;
}

.rooms_aplication{
	width: 132px;
	height: 25px;
	padding: 3px 5px;
	margin-left: auto;
	margin-right: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.rooms_item_header {
	display: flex;
}

.img_flag {
	margin-left: 9px;
}

.country_city {
	margin-left: 9px;
}

.rooms_name {
	margin-top: 255px;
	width: 100%;
	height: 35px;
	background: rgba(0, 0, 0, 0.3);
}

.rooms_link {
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.rooms_back{
	margin-left: 10px;
	padding-bottom: 14px;
}

.rooms_selected{
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

#rooms_item_aplicated {
	border-radius: 0;
}

#rooms_content_aplicated {
	border-radius: 0;
}

.rooms_map {
	display: flex;
	margin-top: 10px;
	margin-left: 13px;
	margin-bottom: 3px;
}

.rooms_map_text{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin-left: 5px;
}

.rooms_text {
	margin: 15px 20px 20px 10px ;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.rooms_guser {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	padding-right: 3px;
}
/* END ROOMS CSS*/
/*
DsArmor
*/

/*---------------------------------------------------------*/

.slider {
	position: relative;
}

.post_content_img {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Кружочки */
.slider-dots {
	text-align: center;
	height: 20px;
}
.slider-dots_item{
	border: 1px solid;
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
	background-color: rgb(0, 0, 0);
}
/* Анимация слайдов */
.slider .post_content {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
	    opacity: .4
	}
	to {
	    opacity: 1
	}
}
@keyframes fade {
	from {
	    opacity: .4
	}
	to {
	    opacity: 1
	}
}

/* для красоты согласно дизайну*/

.user_name {
	line-height: 20px;
	margin-right: 5px;
}

.comment {
	line-height: 1.2;
}

/*--------------------------------*/

/*---------------Блок для комментариев-----------------*/

/* нужно отменить возможность скролла и добавить возможность 
скроллить как раз комменты, также добавить панельку для ввода комментария */

.post_comments {
	display: none;
	position: fixed;
	overflow: scroll;
	z-index: 250;
	background-color: #fff;
	margin-top: 40%;
	width: 100%;
	height: 380px;
}

.owner {
	border-bottom: 1px solid rgba(0,0,0,0.52);
}

.title {
	display: inline-block;
	width: 75%;
	text-align: center;
	margin-left: 45px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	margin-top: 14px;
}

.close {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	float: right;
}

.comment_header {
	padding-left: 10px;
	padding-right: 10px;
}

.comment_header .user_logo {
	padding-right: 10px;
}

.full_comment {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	margin-left: 50px;
	margin-top: -10px;
	margin-right: 19px;
}

.full_comment .data {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 10px;
	line-height: 12px;
	padding-left: 0;
}

.commentator .bottom .data{
	display: inline-block;
	width: 50%;
}

.commentator .bottom .response{
	display: inline-block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #969696;
}


/*---------------------------------------------------------*/

/*---------------------Direct-------------------------------*/

.direct {
	padding-top: 0;
	margin: 10px;
	margin-left: 0px;
}

.top_nav {
	width: 400px;
	margin-top: 5px;
	display: flex;
	/* justify-content: space-between; */
}

.exit_arrow {
	height: fit-content;
	margin-left: 15px;
	margin-top: 1px;
	flex-basis: 75%;
}

.finder {
	margin-right: 20px;
	/* flex-basis: 10%; */
}

.notes {
	margin-right: 20px;
	/* flex-basis: 10%; */
	/* align-self: flex-end; */
}

.direct_title {
	position: relative;
}

.message_nav {
	display: flex;
	justify-content: space-around;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.message_nav .my {
	width: 138px;
	text-align: center;
}

.message_nav .all {
	width: 138px;
	text-align: center;
}

.beautiful {
	display: inline-block;
	position: relative;
	transition: all 0.4s ease;
	padding-bottom: 5px;
}

.my::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #000000;
	width: 100%;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.dir_win {
	margin-top: 16px;
	border-top: 1px solid #D8D8D8;
}

.chel {
	display: flex;
	margin: auto;
	margin-top: 10px;
	margin-left: 15px;
}

.buddy .user_logo {
	width: 50px;
	height: 50px;
}

.brief {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	flex-basis: 70%;
}

.shipped {
	background-color: #D8D8D8;
}

.read {
	background-color: #FFFFFF;
}

.answer {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	height: 15px;
	padding: 5px;
	/* padding-left: 5px; */
}

/*-----------------Account--------------------*/

.account_short {
	padding-top: 7px;
	background-color: white;  
	position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%;
	display: flex;
	align-items: center;
}

.account_logo {
	margin-left: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.account_items {
	padding-top: 5px;
	margin-right: 15px;
	margin-left: auto;
}

.profile_head {
	width: 100%;
	text-align: center;
}

.account_info {
	padding-top: 7px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info {
	width: 100px;
}

.nums {
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.naming {
	text-align: center;
	margin-top: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #969696;
}

.ac_wrap {
	display: flex;
	justify-content: center;
}

.rewrite {
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	width: fit-content;
	margin-top: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #969696;
	border-radius: 5px;
}

.ac_text {
	margin-left: 20px;
	margin-right: 65px;
	margin-top: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.text {

}

.ac_text .more {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #969696;
	margin-left: 0px;
}

.ac_tabs {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 18px;
}

.line {
	margin-bottom: 5px;
}

.gal_line {
	height: 3px;
	width: 120px;
	margin-top: 10px;
	background-color: #000000;
	border-radius: 5px;
}

.ac_pre_footer{
	height: 40px;
}