body {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;;
}

a {
	text-decoration: none;
}

.pre_header {
	height: 55px;
}

.header {
	padding-top: 7px;
	background-color: white;  
	position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%;
	display: flex;
	align-items: center;
}

.nav {
	position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px;
    background: #fff; 
    width: 100%;
	display: flex;
	justify-content: space-around;
}

.news{
	width: 20px;
}
.search{
	width: 20px;
}
.rooms{
	width: 20px;
}
.offers{
	width: 20px;
}
.account{
	width: 20px;
}

.logo {
	margin-left: 25px;
	font-family: 'Rasa';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

}

.sotial_items {
	padding-top: 7px;
	margin-right: 25px;
	margin-left: auto;
}

.message {
	padding-left: 28px;
	height: 25px;
}

.new_post {
	height: 25px;
}

.post {
	margin-bottom: 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: 100%;
}

.post_header {
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

.user_logo {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding-right: 15px	;
	width: 30px;
	height: 30px;
}

.post_setting {
	margin-right: 13px;
	margin-left: auto;
	width: 4px;
	height: 20px;
}

.post_content{
	/* padding: 20px 10px; */
	color: #fff;
	height: 500px;
	/* background: url(../src/content1.png) no-repeat center center; */
	/* background-size: cover; */
}

.sotial_move {
	font-size: 13px;
	width: 40px;
	text-align: center;
	margin-left: auto;
}

.likes {
	height: 25px;
}

.comments {
	height: 25px;
	margin-top: 17px;
}

.user_name {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 17px;
	line-height: 29px;
	margin-right: 10px;
}

.more {
	margin-left: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
	color: #969696;
}

.comment {
	padding: 0px 20px;
}

.data {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px;
}

#post_content2 {
	padding: 20px 10px;
	color: #fff;
	height: 400px;
	background: url(../src/content2.png) no-repeat center center;
	background-size: cover;
}

.pre_footer {
	height: 60px;
}

.carousel {
	justify-content: center;
	display: flex;
}

.dot_active {
	margin: 15px 5px 5px 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #000000;
	border: 1px solid #000000;
}

.dot {
	margin: 15px 5px 5px 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #000000;
}

/* ROOMS CSS */

.rooms_header {
	margin: 10px 5px;
	width: 350px;
	height: 30px;
	background: #C4C4C4;
	border-radius: 5px;
}

.search_in_rooms {
	padding: 5px 10px;
	display: block;
	margin-left: auto;
}

.rooms_content {
	border-radius: 10px 10px 0px 0px;
	padding: 20px 0px;
	color: #fff;
	height: 300px;
	background: url(../src/rooms_photo.png) no-repeat center center;
	background-size: cover;
}

.rooms_item_header {
	display: flex;
}

.img_flag {
	margin-left: 9px;
}

.country_city {
	margin-left: 9px;
}

.rooms_name {
	margin-top: 230px;
	width: 360px;
	height: 35px;
	background: rgba(0, 0, 0, 0.3);
}

/* END ROOMS CSS*/
/*
DsArmor
*/

/*---------------------------------------------------------*/

/* .block_id {
	display: none;
} */

/* .content_block {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: auto;
}
.content_block.hide {
	height: auto;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
} */


/* Собственно сам слайдер */
/* .slider{
    max-width: 100%;
    margin: auto;
    height: 500px;
    margin-bottom: 15px;
} */

.post_content_img {
	/* position: absolute; */
    width: 100%;
    height: 100%;
    /* object-fit: cover;	 */
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .post_content {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*---------------------------------------------------------*/